<html>
    <head>
        <title> CONFERENCE LIST - MAIN</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" type="text/css">
        #parse("blocks/head.vm")
    </head>
    <body>
        <center>
        <h2> Conference Page</h2>
                
        <!---<a href="/conference_list">Mindaugas Azubalis Logged In</a>
        <a href="/conference_list">Log Out</a></br> --->
        
       <!--- <div class="btn">
  			<input type="button" value="TELL ME MORE" onClick="document.location.reload(true)">
 		</div>--->
        
        <!-- Login ir password ir naudoti uz pagrindini -->
		<fieldset>
                <legend>User login:</legend>
                <div class="formGroup">
                    <label for="user">Username:</label>
                    <input type="text" id="user" name="user"/>
                </div>

                <div class="formGroup">
                    <label for="pass">Password:</label>
                    <input type="password" id="pass" name="password"/>
                </div>
                <div class="formGroup">
                    <input type="submit" value="Login" id="login">
                    <input type="submit" value="Register" id="register"></br>
                 <div class="links">	
                 	<a href="/conference/list">Unregistered User</a>
                 </div>	
                </div>
            </fieldset>
			
		<!-- Pridejimo pabAiga -->
		
		<!---FILTRAI, PAIESKA --->
		<form method="post" action="" id="filters">
            <fieldset>
                <legend>Search filter</legend>
                
                <div class="formGroup">
                    <label for="conferenceNameSearchName">Search By Name:</label>
                    <input type="text" value="$SearchByName" id="SearchByName" name="conferenceNameSearchName"/>
                    <label for="conferenceNameSearchTopic">Search By Topic:</label>
                    <input type="text" value="$SearchByTopic" id="SearchByTopic" name="conferenceNameSearchTopic"/>
                </div>
                
                <div class="formGroup">
                    <label for="filterStart">Start date</label>
                    <input type="text" name="start" value="$startDate" id="filterStart" class="datePicker">
                </div>
                <div class="formGroup">
                    <label for="filterEnd">End date</label>
                    <input type="text" name="end" value="$endDate" id="filterEnd" class="datePicker">
                </div>
                <div class="formGroup">
                    <input type="submit" value="Search">
                    <input type="reset" value="Reset">
                </div>
            </fieldset>
            
		<!---FILTRAI, PAIESKA ---PABAIGA--->
		
		
		<fieldset>
                <legend>Conference List - Recent</legend>
		
		<form name="conference_list">
        
       	<div id="wrap">
		<ul id="accordion">
			
		<li>
			<h2>What this is all about?</h2>
			<div class="content">
				This is a good conference application. Try to use it and you'll see.
			</div>
		</li>
		<li>
			<h2>Why do we need to use this?</h2>
			<div class="content">
				You need it if you are interesting in some topics that are covered there...
			</div>
		</li>
		<li>
			<h2>What technologies do you use here?</h2>
			<div class="content">
				First of all, there is some HTML and CSS, Maven, Git, Spring Framework, Dao, blah blah...
			</div>
		</li>
		<li>
			<h2>Where is content filter or some sort of picker?</h2>
			<div class="content">
				Not implemented yet. Trying to make it possible.
			</div>
		</li>
                <li>
			<h2>The last question is? You name it...</h2>
			<div class="content">
				Taram baram. Beprasmis tekstas, penktas.
			</div>
		</li>
	</ul>
        </div><!-- wrap -->
        <a href="/conference/list">More ...</a>
        </form>
        </center>
        </fieldset>
    </body>