<!DOCTYPE html>
<html>
    <head>
        <title> Mano HTML Forma </title>
        #parse("blocks/head.vm")
		
    </head>
    <body>
        <form method="post" action="/login">
            <fieldset>
                <legend>Login Form</legend>
                <label>Username:<input type="text" name="username"/><span>*</span></label>
                <label>Password:<input type="password" name="pass"/><span>*</span></label>
                <div class="formGroup">
                <input  type="submit" value="Login" id="login"/>
                <input  type="submit" value="Register" id="register"/></br>
                <a href="/conference/list">Unregistered User</a>
                </div>
            </fieldset>
        </form>
        </center>
    </body>